.fabr-table-search {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, .05);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    padding: 0.5rem 0.75rem;
    margin-bottom: 10px;
}

.fabr-table-search:focus {
    outline: 0;
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, .25);
}

.fabr-table-search::placeholder {
    color: #a0aec0;
}