<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vanilla OS Packages Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="This site provides you with information about all the packages available in the Vanilla OS repository">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 font-outfit">
    <div class="topbar bg-white dark:bg-gray-900">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <nav class="flex justify-between items-center py-4" aria-label="main navigation">
                <a href="/" class="flex items-center">
                    <img class="w-7 min-w-7 h-7 min-h-7" alt="Logo" src="/static/images/logo.svg">
                    <h1 class="text-lg font-semibold ml-2 hidden sm:block text-gray-900 dark:text-gray-100">
                        Vanilla OS Packages
                    </h1>
                </a>
                {% if show_search_bar %}
                <form action="{{ url_for('search') }}" method="get" class="flex-1 mx-4 relative">
                    <div
                        class="flex items-center border bg-gray-100 dark:bg-gray-700 rounded-lg overflow-hidden focus-within:border-blue-500 focus-within:ring-2 focus-within:ring-blue-500 focus-within:ring-opacity-50 border-gray-200 dark:border-gray-600">
                        <select id="branchSelector" name="branch"
                            class="px-4 py-2 text-gray-600 dark:text-gray-300 bg-transparent focus:outline-none border-r border-gray-300 dark:border-gray-600">
                            <option value="main">main</option>
                            <option value="testing">testing</option>
                        </select>
                        <input
                            class="flex-1 px-4 py-2 text-gray-600 dark:text-gray-300 bg-transparent focus:outline-none w-full"
                            type="text" placeholder="Search for packages..." name="q">
                        <i class="material-symbols-outlined p-2 text-gray-400 dark:text-gray-500">search</i>
                    </div>
                </form>
                {% endif %}
                <a class="flex items-center p-2 bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white rounded"
                    title="Go to repo" href="https://repo2.vanillaos.org">
                    <span class="material-symbols-outlined">storage</span>
                </a>
            </nav>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="bg-white dark:bg-gray-900 mt-12">
        <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 text-center">
            <p class="text-base text-gray-600 dark:text-gray-400">
                Eratosthenes powered by
                <a href="https://vanillaos.org" target="_blank"
                    class="text-blue-600 dark:text-blue-400 hover:underline">
                    Vanilla OS
                </a>.
            </p>
        </div>
    </footer>

    <script>
        document.getElementById('branchSelector').addEventListener('change', function () {
            document.cookie = "branch=" + this.value + "; path=/";
            location.reload();
        });

        document.addEventListener('DOMContentLoaded', function () {
            const branch = document.cookie.split('; ').find(row => row.startsWith('branch=')).split('=')[1];
            document.getElementById('branchSelector').value = branch;
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>