{% extends 'base.html' %}
{% block content %}
    <div class="container panel-wrapper">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{ package.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ package.description }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ package.version }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ package.section }}</td>
            </tr>
            <tr>
                <th>Homepage</th>
                <td><a href="/package/{{ package.name }}">{{ package.name }}</a></td>
            </tr>
            <tr>
                <th>Maintainer</th>
                <td>{{ package.maintainer }}</td>
            </tr>
            <tr>
                <th><a href="#depends">Depends</th>
                <td>{{ package.depends }}</td>
            </tr>
            <tr>
                <th><a href="#recommends">Recommends</th>
                <td>{{ package.recommends }}</td>
            </tr>
            <tr>
                <th><a href="#suggests">Suggests</th>
                <td>{{ package.suggests }}</td>
            </tr>
            <tr>
                <th><a href="#conflicts">Conflicts</th>
                <td>{{ package.conflicts }}</td>
            </tr>
            <tr>
                <th><a href="#replaces">Replaces</th>
                <td>{{ package.replaces }}</td>
            </tr>
            <tr>
                <th><a href="#provides">Provides</th>
                <td>{{ package.provides }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ package.filename }}</td>
            </tr>
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="depends">Depends</a></th>
            {% for depend in depends %}
                <tr>
                    <td><a href="/package/{{ depend.name }}">{{ depend.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="recommends">Recommends</a></th>
            {% for recommend in recommends %}
                <tr>
                    <td><a href="/package/{{ recommend.name }}">{{ recommend.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="suggests">Suggests</a></th>
            {% for suggest in suggests %}
                <tr>
                    <td><a href="/package/{{ suggest.name }}">{{ suggest.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="conflicts">Conflicts</a></th>
            {% for conflict in conflicts %}
                <tr>
                    <td><a href="/package/{{ conflict.name }}">{{ conflict.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="replaces">Replaces</a></th>
            {% for replace in replaces %}
                <tr>
                    <td><a href="/package/{{ replace.name }}">{{ replace.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <table fabr-table fabr-settings="search" class="table">
            <th><a name="provides">Provides</a></th>
            {% for provide in provides %}
                <tr>
                    <td><a href="/package/{{ provide.name }}">{{ provide.name }}</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
