{% extends 'base.html' %}

{% block content %}
<section class="bg-gray-100 dark:bg-gray-800 text-black dark:text-gray-200 text-center py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold">Package Details</h1>
        <p class="mt-4">Information about "{{ package.name }}"</p>
    </div>
</section>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Name -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">label</i>
            <div>
                <h2 class="text-lg font-bold">Name</h2>
                <p>{{ package.name }}</p>
            </div>
        </div>
        <!-- Description -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">description</i>
            <div>
                <h2 class="text-lg font-bold">Description</h2>
                <p>{{ package.description }}</p>
            </div>
        </div>
        <!-- Version -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">update</i>
            <div>
                <h2 class="text-lg font-bold">Version</h2>
                <p>{{ package.version }}</p>
            </div>
        </div>
        <!-- Section -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">category</i>
            <div>
                <h2 class="text-lg font-bold">Section</h2>
                <p>{{ package.section }}</p>
            </div>
        </div>
        <!-- Homepage -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">home</i>
            <div>
                <h2 class="text-lg font-bold">Homepage</h2>
                <p><a href="{{ package.homepage }}" class="text-blue-600 hover:text-blue-800">{{ package.homepage }}</a>
                </p>
            </div>
        </div>
        <!-- Maintainer -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">person</i>
            <div>
                <h2 class="text-lg font-bold">Maintainer</h2>
                <p>{{ package.maintainer }}</p>
            </div>
        </div>
        <!-- Dependencies -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">link</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#depends">Depends</a></h2>
                <p>{{ package.depends }}</p>
            </div>
        </div>
        <!-- Recommends -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">thumb_up</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#recommends">Recommends</a></h2>
                <p>{{ package.recommends }}</p>
            </div>
        </div>
        <!-- Suggests -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">lightbulb</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#suggests">Suggests</a></h2>
                <p>{{ package.suggests }}</p>
            </div>
        </div>
        <!-- Conflicts -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">block</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#conflicts">Conflicts</a></h2>
                <p>{{ package.conflicts }}</p>
            </div>
        </div>
        <!-- Replaces -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">swap_horiz</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#replaces">Replaces</a></h2>
                <p>{{ package.replaces }}</p>
            </div>
        </div>
        <!-- Provides -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">check_box</i>
            <div>
                <h2 class="text-lg font-bold"><a href="#provides">Provides</a></h2>
                <p>{{ package.provides }}</p>
            </div>
        </div>
        <!-- Filename -->
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex items-start">
            <i class="material-symbols-outlined text-gray-400 dark:text-gray-500 mr-4">description</i>
            <div>
                <h2 class="text-lg font-bold">Filename</h2>
                <p>{{ package.filename }}</p>
            </div>
        </div>
    </div>
</div>

<div class="tabs is-centered mt-8">
    <div id="tabList" class="grid grid-cols-2 sm:flex sm:justify-center sm:space-x-4 gap-4 p-4">
        {% for item, items in [('Depends', depends), ('Recommends', recommends), ('Suggests', suggests), ('Conflicts',
        conflicts), ('Replaces', replaces), ('Provides', provides)] %}
        <a class="text-blue-600 hover:text-blue-800 cursor-pointer {% if loop.first %}is-active{% endif %}"
            data-target="{{ item|lower }}" onclick="changeTab('{{ item|lower }}')">
            <span>{{ item }}</span>
        </a>
        {% endfor %}
    </div>
</div>

{% for item, items in [('Depends', depends), ('Recommends', recommends), ('Suggests', suggests), ('Conflicts',
conflicts), ('Replaces', replaces), ('Provides', provides)] %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4 tables">
    <div id="{{ item|lower }}Table" class="mt-4 {% if not loop.first %}hidden{% endif %}">
        <div class="overflow-x-auto mt-4">
            <table class="min-w-full bg-white dark:bg-gray-800 rounded-lg shadow" id="{{ item|lower }}">
                <thead class="bg-gray-200 dark:bg-gray-700">
                    <tr>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-800 dark:text-gray-200 uppercase tracking-wider">
                            {{ item }}
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-950">
                    {% if items %}
                    {% for subitem in items %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-200">
                            <a href="/package/{{ subitem.name }}" class="text-blue-600 hover:text-blue-800">{{
                                subitem.name
                                }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-200" colspan="100%">
                            No items found.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function changeTab(tab) {
        const tabList = document.getElementById('tabList');
        const tables = document.querySelectorAll('.tables > div');

        tabList.querySelectorAll('a').forEach((li) => {
            li.classList.remove('is-active');
        });

        tables.forEach((table) => {
            console.log(table);
            table.classList.add('hidden');
        });

        document.getElementById(tab + 'Table').classList.remove('hidden');
        document.querySelector(`a[data-target="${tab}"]`).classList.add('is-active');
    }
</script>

<style>
    .is-active {
        font-weight: bold;
        border-bottom: 2px solid;
    }
</style>

{% endblock %}