{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="search">
            <h2 id="search" class="title is-4">Search for packages</h2>
            {% include 'search_form.html' %}
        </div>

        <h3 id="results" class="title is-3">Results</h3>
        {% if not packages %}
        <p class="subtitle is-6">No packages found.</p>
        {% else %}
        <table fabr-table fabr-settings="search|sort" class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td><a href="{{ url_for('package', name=package.name) }}">{{ package.name }}</a></td>
                    <td>{{ package.version }}</td>
                    <td>{{ package.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}