name: Go

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vanilla-os/pico:main

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Build
      run: |
        go build -o eratosthenes-amd64 -ldflags="-X 'main.Version=${{ github.sha }}'" ./cmd/eratosthenes/main.go
        GOARCH=arm64 go build -o eratosthenes-arm64 -ldflags="-X 'main.Version=${{ github.sha }}'" ./cmd/eratosthenes/main.go

    - uses: softprops/action-gh-release@v2
      if: github.repository == 'vanilla-os/eratosthenes' && github.ref == 'refs/heads/main'
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag_name: "continuous"
        prerelease: true
        name: "Continuous Build"
        files: eratosthenes-amd64, eratosthenes-arm64